[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jsonschema = "*"
pyyaml = "==5.3.1"
tensorflow = "==1.14.0"
stable-baselines = "==2.10.1"
gym = "==0.17.3"
scikit-image = "==0.17.2"
tqdm = "*"
scikit-learn = "*"
natsort = "*"
opencv-python = "==4.4.0.46"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
